:root {
    --blue: #0023A1;
    --dark-blue: #001561;
    --light-blue: #0032E0;
    --blue-blue: #0033ED;
    --blue-7:#002BC7;
    --White-blue: #AEBDEE;
    --black: 	#000000;
    --orange: #FFA500;
    
}

.body1 {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    background-color: var(--White-blue);

}

.body2 {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px;
    padding: 1px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.contenedor__central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    max-width: auto;
    width: auto;
}

.contenedor__central {
    box-shadow:         -2px -5px 40px 40px rgba(0,0,0,.2);
    -moz-box-shadow:    -2px -5px 40px 40px rgba(0,0,0,.2);
    -webkit-box-shadow: -2px -5px 40px 40px rgba(0,0,0,.2);
}


.titulo {
    font-size: 400%;
    font-weight: bold;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
    margin: 25px;
}

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
}
.container-bootom__exit {
    display: flex;justify-content: end;
    align-items: end;
}

.bottom6 {
    margin: 20px 20px;
    width: 210px;
    height: 40px;
    background-color: rgb(84, 34, 27);
    border-radius: 5px;
    box-shadow: -3px 2px 5px 5px black;
    -webkit-box-shadow: -1px 2px 3px 3px rgba(0,0,0,.2);
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;  
}

.bottom6:active{
    color: var(--orange);
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px 0;
}
.section-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid var(--black);
    width: 50%;
    height: 50px;
    font-size: bold;
    font-size: 20px;
    margin: 10px 200px;
}




.box {
    border: 1px 2px;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
}
.bottom1,
.bottom2,
.bottom3,
.bottom4 {
    margin: 20px 20px;
    width: 340px;
    height: 50px;
    background-color: darkgreen;
    border-radius: 5px;
    box-shadow: -3px 2px 5px 5px var(--White-blue);
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    
}

.bottom1 {
    background-image: url(../Img/Retiro.png);
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.bottom1:active{
    color: var(--orange);
}

.bottom2 {
    background-image: url(../Img/saldo.png);
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.bottom2:active{
    color: var(--orange);
}

.bottom3 {
    background-image: url(../Img/Transfer.png);
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.bottom3:active{
    color: var(--orange);
}

.bottom4 {
    background-image: url(../Img/consignacion.png);
    background-repeat: no-repeat;
    background-size: 50px;
    cursor: pointer;
}

.bottom4:active{
    color: var(--orange);
}


.bottom5 {
    margin: 20px 20px;
    width: 340px;
    height: 50px;
    background-color: rgb(84, 34, 27);
    border-radius: 5px;
    box-shadow: -3px 2px 5px 5px black;
    -webkit-box-shadow: -1px 2px 3px 3px rgba(0,0,0,.2);
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;  
}

.bottom5:active{
    color: var(--orange);
}

.ayuda {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.ayuda a {
    display: block;
    text-decoration: none;
    color: #030303;
    margin-bottom: 5px;
}

.ayuda a:hover {
    color: #17750f;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #fafafa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}

/* .bottom2 {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: auto;
    color: var(--White-blue);
    background-color: #020202;
    border-radius: 5px;
} */

.container__footer {
    display: flex;
    justify-content: space-around;
    border-radius: 1px solid black;
    color: #020202;
    padding: 10px;
    border: 1px;
    font-size: 16px;
    font-weight: 500;
    
}